

<div class="home">

  Association des Sages-Femmes Libérales de Haute-Normandie
Quand et pourquoi contacter une sage-femme libérale ?

La sage-femme libérale vous accompagne tout au long de votre grossesse. Elle vous guide et vous conseille, elle vous apporte des informations importantes qui vous seront utiles pendant votre accouchement et après la naissance de votre enfant.

Grossesse - Rencontrer une sage-femme
La sage-femme libérale, professionnelle de la grossesse et de la naissance physiologique :

- Assure le suivi médical :
consultations prénatales, échographies, suivi post-natal mère/enfant, rééducation périnéale, soutien à l'allaitement, consultations de contraception.

- Vous propose différentes préparations à la naissance
axées sur l'écoute, l'information et le travail corporel.

- Travaille en lien avec les médecins et maternités
lorsque la grossesse est à risque ou pathologique.

  <h1 class="page-heading">Posts</h1>

  <div class="container">
      <div id="rightSide">
          <div id="latestSpot"></div>
          <div id="selectedSpot"></div>
      </div>
      <div id="map"></div>
  </div>
  <div class="container">
      <input id="tableFilter" type="text" placeholder="filter by…"></input>
      <span class="clear button">Clear</span> <span class="resetMap button">Reset Map</span>
      <span class="noMatches">no matches</span>
      <div id="hackSpotsTable"></div>
  </div>

  <table>
    <thead>
      {% for row in site.data.google_sheet limit:1 %}
        <tr>
          {% for col in row %}<th>{{col}}</th>{% endfor %}
        </tr>
      {% endfor %}
    </thead>
    <tbody>
      {% for row in site.data.google_sheet offset:1 %}
        <tr>
          {% for col in row %}<td>{{col}}</td>{% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  {% include hackspot.html %}

</div>
