<header class="site-header" role="banner">

  <div class="wrapper">

    <div class="site-logo">
      <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/logo-sages-femmes.svg" alt="{{ site.title }}"></a>
    </div>

    <nav class="nav-main">
      <ul>
        {% for page in site.pages %}
          {% if page.navigation %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>

  <div class="illustration-header">
    <img src="{{ site.baseurl }}/assets/images/background.jpg" alt="sage femme normandie">
  </div>

</header>
