<head itemscope itemtype="http://schema.org/WebSite">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% seo %}
  <style type="text/css">
    {% capture include_to_scssify %}
      {% include base.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
  <script>
    {% include loadCSS.js %}
    loadCSS("{{ "/assets/css/style.css" | prepend: site.baseurl }}");
  </script>
  <noscript><link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}"></noscript>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

  <script type="text/javascript" src='assets/js/main.js '></script>
  <script type="text/javascript" src='assets/js/jquery.js '></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content=" {{site.description}}">
  <meta name="twitter:image" content="{{ page.image }}">
  {% include favicons.html %}
</head>
