<div class="members-list__box" data-id="{{forloop.index}}" data-town="{{row[6]}}">
  {% for col in row | sort: {{row[6]}} %}
    {% assign mod = forloop.index %}
    {% if site.data.google_sheet[2][mod] == 'Site web'%}
      {% assign modactivity = forloop.index | plus:1 %}
    {% endif %}
    {% if site.data.google_sheet[2][mod] == 'Prénom'%}
      <div class="members-list__line name">
      <div class="members-list__item name"><span>{{ row[mod] }}
    {% endif %}
    {% if site.data.google_sheet[2][mod] == 'Nom'%}
      {{ row[mod] }}</span>
    {% endif %}
    {% if site.data.google_sheet[2][mod] == 'Adresse'%}
      <br>{{ row[mod] }}
    {% endif %}
    {% if site.data.google_sheet[2][mod] == 'Code Postal'%}
      {{ row[mod] }}
    {% endif %}
    {% if site.data.google_sheet[2][mod] == 'Ville'%}
      {{ row[mod] }}</div><!--/ members-list__item -->
    {% endif %}

    {% if site.data.google_sheet[2][mod] == 'Ville'%}
    {% if row[mod] != '' %}
      <div class="members-list__item location">{{ row[mod] }}</div>
    {% endif %}
    </div>
    {% endif %}

    {% if site.data.google_sheet[2][mod] == 'Téléphone mobile' %}
    <div class="members-list__line">
    <div class="members-list__item {{ site.data.google_sheet[2][mod] | slugify }}">
    {% if row[mod] != '' %}
      <span>{{ row[mod] }}</span>
    {% endif %}
    {% endif %}

    {% if site.data.google_sheet[2][mod] == 'Téléphone fixe' %}
    {% if row[mod] != '' %}
      <span>{{ row[mod] }}</span>
    {% endif %}
    <br>
    {% endif %}

    {% if site.data.google_sheet[2][mod] == 'Email %}
    {% if row[mod] != '' %}
      {{ row[mod] }}
    {% endif %}
    {% endif %}

    {% if site.data.google_sheet[2][mod] == 'Site web' %}
    {% if row[mod] != '' %}
       <a href="//{{ row[mod] }}">{{ row[mod] }}</a>
    {% endif %}
    </div>
    </div>
    {% endif %}
  {% endfor %}
  {% for col in row %}
  {% assign mod = forloop.index %}
    {% if mod >= modactivity %}
    {% if mod == modactivity %}
      <div class="members-list__line">
      <div class="members-list__item activity">
    {% endif %}
    {% if row[mod] == '1' %}
      {% for activity in site.activities%}
        {% if activity.title == site.data.google_sheet[2][mod] %}
          {% assign activityurl = activity.url %}
       {% endif %}
      {% endfor %}
      <span class="members-list__item__activity activity"><a href="{{ activityurl }}">{{ site.data.google_sheet[2][mod] }}</a></span>
    {% endif %}
    {% if forloop.last %}
      </div><!--/ members-list__item -->
      </div><!--/ members-list__line -->
    {% endif %}
    {% endif %}
  {% endfor %}
</div>
