<div class="members-list__box" data-id="{{forloop.index}}">
  {% for col in row %}
    {% assign mod = forloop.index %}
    {% if site.data.google_sheet[2][mod] == 'Ville'%}
      <div class="members-list__line meta"><div class="members-list__item">{{ row[mod] }}</div></div>
    {% endif %}
  {% endfor %}
  {% for col in row %}
  {% assign mod = forloop.index %}
    {% if site.data.google_sheet[2][mod] == 'Prénom'%}
      <div class="members-list__line name">
      <div class="members-list__item {{site.data.google_sheet[2][mod] | slugify }} name">{{ row[mod] }}
    {% endif %}
    {% if site.data.google_sheet[2][mod] == 'Nom'%}
      {{ row[mod] }}</div>
    {% endif %}
    {% if site.data.google_sheet[2][mod] == 'Adresse'%}
      <div class="members-list__item {{site.data.google_sheet[2][mod] | slugify}} name">{{ row[mod] }}
    {% endif %}
    {% if site.data.google_sheet[2][mod] == 'Code Postal'%}
      {{ row[mod] }}
    {% endif %}
    {% if site.data.google_sheet[2][mod] == 'Ville'%}
      {{ row[mod] }}</div><!--/ members-list__item -->
    {% endif %}
    {% if site.data.google_sheet[2][mod] == 'Téléphone' %}
      <div class="members-list__item {{site.data.google_sheet[2][mod] | slugify}} name">{{ row[mod] }}</div><!--/ members-list__item -->
      </div><!--/ members-list__line -->
    {% endif %}
    {% if mod >= 8 %}
    {% if mod == 8 %}
      <div class="members-list__line">
      <div class="members-list__item activity">
    {% endif %}
    {% if row[mod] == '1' %}
      {% for activity in site.activities%}
        {% if activity.title == site.data.google_sheet[2][mod] %}
          {% assign activityurl = activity.url %}
       {% endif %}
      {% endfor %}
      <span class="members-list__item__activity activity"><a href="{{ activityurl }}">{{ site.data.google_sheet[2][mod] }}</a></span>
    {% endif %}
    {% if forloop.last %}
      </div><!--/ members-list__item -->
      </div><!--/ members-list__line -->
    {% endif %}
    {% endif %}
  {% endfor %}
</div>
