////
/// Activities
////

.nav-activity {
  ul {
    margin: 0 0 $base-line;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  li {
    display: inline-block;
    margin: 0 0 $base-line;
    padding: 0.3em;
    border-radius: 10px;
    background: palette(primary);
    color: #fff !important;
  }


  li:nth-child(2n+1){
    color: $maastrichtblue;
    background: $minionyellow;

  }

  a {
    padding: 0.4rem 0.6rem;
    font-family: 'Montserrat', sans-serif;
  
  }


}

.activity-list {
  @include grid(2);
}

.activity-list__box {
  border: 3px solid palette(primary);
  border-radius: 10px;
  > *{
    padding: 0 $base-line/2 $base-line;
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0 0 $base-line;
    padding: $base-line/2;
    background: $brand-color;
    &, a {
      color: #fff;
    }
  }
  p{
    font-weight: 400;
  }
}
