////
/// Members
////

.members-list {
  margin-top: $base-line*2;
  width: 100%;
  @include grid(2);
  >* {
    flex-grow: 1;
  }
}

.members-list__box {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: $base-line;
  border-top: 3px solid palette(primary);
  border-bottom: 3px solid palette(primary);
  /*border-radius: 15px;*/
  background-color: $wheatyellow;
  padding: 20px;
}

.members-list__line {
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  &.information {
    padding: $base-line;
    align-items: center;
  }
  &:last-child {
    padding: 0;
  }
}

.members-list__item {
  flex: 1;
  &.location {
    float: right;
    padding: $base-line/2 $base-line;
    max-width: 14rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.05em;
    color: #fff;
    background: palette(primary);
    border-radius: 0 0 0 25px;
  }
  &.name {
    color: #000;
    font-family: 'Alice', serif;
    font-weight: 800;
    flex: 2;
    padding: 0.15em 0.7em;
    font-size: $title1;
    border-top: 1px solid palette(primary);


  }
  &.address {
    color: $maastrichtblue;
    max-width: 22rem;
    flex: 2;
    padding: 0.15em 1.2em 1em;
    font-size: $big;
  }
  &.téléphone-mobile {
      padding: 1em 1.2em 1em;
      color: $maastrichtblue;
      background-color: $minionyellow;
      font-size: $normal;
      letter-spacing: 0.05em;
      font-weight: 600;
    span:not(:first-child) {
      &:before {
        content: ' / '
      }
    }
  }
  &.email {
    text-align: center;
  }
  &.activity {
    //display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em 1.2em 1em;
    width: 100%;
    border-top: 2px solid palette(primary);
  }
  &.codepostal{
    font-weight: bolder;
  }


.members-list__item__activity {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  color: palette(primary,dark);
  &:after {
    content: ' \00b7';
    letter-spacing: 0.12em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #F4184B;
    font-size: 15px;
  }
  &:last-child:after {
    content: ' \00b7';
    letter-spacing: 0.12em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 5px;
    color: #F4184B;
    font-size: 15px;
  }
}
}
