////
/// Members
////

.members-list {
  margin-top: $base-line*2;
  width: 100%;
  @include grid(2);
}

.members-list__box {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: $base-line;
  border: 3px solid palette(primary);
  border-radius: 15px;
}

.members-list__line {
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  &.information {
    padding: $base-line;
    align-items: center;
  }
  &:last-child {
    padding: 0;
  }
}

.members-list__item {
  flex: 1;
  &.location {
    float: right;
    padding: $base-line/2 $base-line;
    max-width: 14rem;
    text-align: right;
    color: #fff;
    background: palette(primary);
    border-radius: 0 0 0 25px;
  }
  &.name {
    flex: 2;
    padding: $base-line/3 $base-line;
    font-size: $big;
  }
  &.adresse {
    max-width: 22rem;
  }
  &.téléphone-mobile {
      padding: 0 1.2em 1em;
    span:not(:first-child) {
      &:before {
        content: ' / '
      }
    }
  }
  &.email {
    text-align: center;
  }
  &.activity {
    //display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: $base-line/2;
    width: 100%;
    border-top: 2px solid palette(primary);
  }
}

.members-list__item__activity {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  color: palette(primary,dark);
  &:after {
    content: ' - ';
  }
  &:last-child:after {
    content: '';
  }
}
