---
layout: compress
---

<!DOCTYPE html>
<html lang="fr-FR">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76419132-1', 'auto');
      ga('send', 'pageview');
      if (navigator.serviceWorker) {
        navigator.serviceWorker.register('/sw.js').then(function(reg) {
            if (!reg.installing) return;
            console.log("[*] ServiceWorker is installing...");
            var worker = reg.installing;
            worker.addEventListener('statechange', function() {
                if (worker.state == 'redundant') {
                    console.log('[*] Install failed');
                }
                if (worker.state == 'installed') {
                    console.log('[*] Install successful!');
                }
            });
        });
      }
    </script>
  </body>

</html>
