---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ site.baseurl }}/assets/js/upup.sw.min.js" data-no-instant></script>
    <script src="{{ site.baseurl }}/assets/js/instantclick.min.js" data-no-instant></script>
    <script data-no-instant>
      InstantClick.init();
      UpUp.start({
            'content-url': '{{ page.url | replace:'/','' }}',
            'assets':
              ['{{ site.baseurl }}/assets/css/main.css']
          });
    </script>
  </body>

</html>
