---
layout: default
---

<h1>{{ page.title }}</h1>

{{ content }}

<h2>Trouver une sage femme libérale qui pratique cette activité</h2>

{% assign items = site.data.members | sort: 'ville' %}
<div class="members-list list">
{% for row in items %}
  {% for activity in row.activites %}
  {% if activity.nom contains page.title %}
    {% assign activitycheck = 1 %}
  {% endif %}
  {% endfor %}
  {% if activitycheck == 1 %}
    {% include members-new.html %}
  {% endif %}
  {% assign activitycheck = 0 %}
{% endfor %}
</div>
