---
layout: default
---

<h1>{{ page.title }}</h1>

{{ content }}

<div class="members-list">
  <h2>Trouver une sage femme libérale qui pratique cette activité</h2>
  {% for row in site.data.google_sheet limit:1 %}
    {% for col in row %}
      {% if col == page.title  %}{% assign activitycolnumber = forloop.index0 %}{% endif %}
    {% endfor %}
  {% endfor %}

  {% for row in site.data.google_sheet offset:3 %}
  {% if row[3] contains '2014' %}
  {% if row[activitycolnumber] == '1' %}
    <div class="members-list__box">
      {% for col in row %}
      {% assign mod = forloop.index %}
        {% if site.data.google_sheet[2][mod] == 'Prénom'%}
          <div class="members-list__line">
          <div class="members-list__item {{site.data.google_sheet[2][mod] | slugify }}">{{ row[mod] }} - {{row[activitycolnumber]}}
        {% endif %}
        {% if site.data.google_sheet[2][mod] == 'Nom'%}
          {{ row[mod] }}</div>
        {% endif %}
        {% if site.data.google_sheet[2][mod] == 'Adresse'%}
          <div class="members-list__item {{site.data.google_sheet[2][mod] | slugify}}">{{ row[mod] }}
        {% endif %}
        {% if site.data.google_sheet[2][mod] == 'Code Postal'%}
          {{ row[mod] }}
        {% endif %}
        {% if site.data.google_sheet[2][mod] == 'Ville'%}
          {{ row[mod] }}</div><!--/ members-list__item -->
        {% endif %}
        {% if site.data.google_sheet[2][mod] == 'Téléphone' %}
          <div class="members-list__item {{site.data.google_sheet[2][mod] | slugify}}">{{ row[mod] }}</div><!--/ members-list__item -->
          </div><!--/ members-list__line -->
        {% endif %}
        {% if mod >= 8 %}
        {% if mod == 8 %}
          <div class="members-list__line">
          <div class="members-list__item activity">
        {% endif %}
        {% if row[mod] == '1' %}
          <span class="members-list__item__activity">{{ site.data.google_sheet[2][mod] }}</span>
        {% endif %}
        {% if forloop.last %}
          </div><!--/ members-list__item -->
          </div><!--/ members-list__line -->
        {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}
  {% endfor %}
</div>





