---
layout: default
---
{% assign siteyear = site.time | date: '%Y' %}

<div itemtype="http://schema.org/Person" data-id="{{forloop.index}}" data-town="{{row.ville}}">
  <h1 itemprop="name" class="profile-name">{{page.prenom}} {{page.nom}}</h1>

  {% if page.adhesion contains siteyear %}
  <div class="bloc-adresse">
  <p itemprop="streetAddress" class="profile-address"><strong><i class="fa fa-building-o"></i></strong>&nbsp; {{page.adresse}} <span class="codepostal">{{page.code-postal}}</span> {{page.ville}}</p>
  <p>{% if page.telephone-mobile %}<strong><i class="fa fa-mobile-phone"></i></strong>&nbsp; <span itemprop="telephone" class="profile-telephone">{{page.telephone-mobile}}</span><br>{% endif %}
  {% if page.telephone-fixe %}<i class="fa fa-phone"></i></strong>&nbsp;  <span itemprop="telephone">{{page.telephone-fixe}}</span>{% endif %}</p>
  {% if page.email %}<p><strong><i class="fa fa-envelope"></i></strong>&nbsp;</strong> {{ page.email }}</p>{% endif %}
  {% if page.site-web %}<p><strong><i class="fa fa-television"></i></strong>&nbsp;<a href="//{{ page.site-web }}">{{ page.site-web }}</a></p>{% endif %}
</div>

  <h3>Localiser {{page.prenom}} {{page.nom}} <small>(Cliquez sur la carte pour obtenir la direction)</small></h3>
  <div class="profile-maps">

    <div class="profile-maps-image">
      <a href="//www.google.com/maps?q={{ page.adresse | cgi_escape }},{{page.ville}}"><img src="//maps.googleapis.com/maps/api/staticmap?center={{ page.adresse | cgi_escape }},{{page.ville}},fr&markers=color:pink%7Clabel:SG%7C{{ page.adresse | cgi_escape }},{{ page.code-postal | slug}},{{ page.ville | slug}},fr&zoom=14&size=600x300&sensor=false&style=feature:poi|visibility:off&style=feature:all|saturation:-30|lightness:17|gamma:1&style=feature:road|lightness:0|saturation:0|hue:0xffffff|gamma:0&style=feature:road.highway|element:geometry|lightness:50|saturation:0|hue:0xffffff&key=0Ao5u1U6KYND7dFVkcnJRNUtHWUNKamxoRGg4ZzNiT3c" alt="Carte localisation de {{page.prenom}} {{page.nom}} à {{page.ville}}" /></a>
    </div>
  </div>

<div class="bloc-activites">
  <h3>Ses activités de sage femme</h3>
  <ul>
  {% for activity in page.activites %}
    {% for activitycollection in site.activities %}
      {% if activitycollection.title == activity.nom %}
        {% assign activityurl = activitycollection.url %}
     {% endif %}
    {% endfor %}
    <li><a href="{{ activityurl }}">{{ activity.nom }}</a></li>
  {% endfor %}
  </ul>
  {% else %}
  <p>Aucune information sur cette sage femme</p>
  {% endif %}
</div>

</div>

